<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2018 lunix

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE configuration PUBLIC '-//mybatis.org//DTD Config 3.0//EN' 'http://mybatis.org/dtd/mybatis-3-config.dtd'>
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED" >
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="driver.encoding" value="utf8mb4"/>
                <property name="url" value="jdbc:mysql://localhost:3306/empenofacil"/>
                <property name="username" value="admin_ef"/>
                <property name="password" value="123456"/>
                <property name="poolMaximumActiveConnections" value="50"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis/mappers/CategoriaPrendaMapper.xml"/>
        <mapper resource="mybatis/mappers/ClienteMapper.xml"/>
        <mapper resource="mybatis/mappers/DomicilioMapper.xml"/>
        <mapper resource="mybatis/mappers/EmpleadoMapper.xml"/>
        <mapper resource="mybatis/mappers/EstadoMapper.xml"/>
        <mapper resource="mybatis/mappers/MunicipioMapper.xml"/>
        <mapper resource="mybatis/mappers/OcupacionMapper.xml"/>
        <mapper resource="mybatis/mappers/PrendaMapper.xml"/>
        <mapper resource="mybatis/mappers/RolMapper.xml"/>
        <mapper resource="mybatis/mappers/TipoPrendaMapper.xml"/>
    </mappers>
</configuration>