<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2018 lunix

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN' 'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace="mybatis.dao.ClienteDAO">
    <select id="obtenerClientes" resultType="empenofacil.model.Cliente">
        SELECT
        cliente.idCliente,
        cliente.idDomicilio,
        cliente.nombre,
        cliente.apellidoPaterno,
        cliente.apellidoMaterno
        cliente.telefono,
        cliente.celular,
        cliente.curp,
        cliente.rfc,
        cliente.listanegra
        cliente.fecha_de_nacimiento
        cliente.idocupacion
        cliente.huella_cliente
        FROM cliente
    </select>
    <select id="obtenerCliente" parameterType="int" resultType="empenofacil.model.Cliente">
        SELECT 
        cliente.idCliente,
        cliente.idDomicilio,
        cliente.nombre,
        cliente.apellidoPaterno,
        cliente.apellidoMaterno
        cliente.telefono,
        cliente.celular,
        cliente.curp,
        cliente.rfc,
        cliente.listanegra
        cliente.fecha_de_nacimiento
        cliente.idocupacion
        cliente.huella_cliente
        WHERE cliente.idcliente = #{id}
    </select>
    <insert id="registrarCliente" parameterType="empenofacil.model.Cliente" useGeneratedKeys="true" keyProperty="idcliente">
        INSERT INTO cliente(idDomicilio, nombre, apellidoPaterno, apellellidoMaterno, telefono, celular, curp, 
        rfc, listanegra, fecha_de_nacimiento, idocupacion, huella_cliente)
        VALUES(#{nombre},#{apellidoPaterno}, #{apellidoMaterno}, #{telefono},
        #{celular}, #{listanegra},#{fecha_de_nacimiento}, #{idocupacion}, #{huella_cliente})
    </insert>
    <update id="editarCliente" parameterType="empenofacil.model.Cliente">
        UPDATE cliente SET idDomicilio = #{idDomicilio}, nombre=#{nombre}, apellidoPaterno=#{apellidoPaterno},
        apellidoMaterno = #{apellidoMaterno}, telefono = #{telefono}, celular = #{celular},
        curp = #{curp}, rfc = #{rfc}, listanegra = #{listanegra}, 
        fecha_de_nacimiento=#{fecha_de_nacimiento}, idocupacion = #{idocupacion}, 
        huella_cliente = #{huella_cliente}
        WHERE idcliente = ${idcliente}
    </update> 
</mapper>