<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2018 lunix

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN' 'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace="mybatis.idao.IClienteDAO">
    <select id="buscarClientes" parameterType="string" resultType="empenofacil.model.Cliente">
        SELECT * FROM cliente WHERE LOWER(nombre) LIKE LOWER(#{busqueda})
        OR LOWER(apellidoPaterno) LIKE LOWER(#{busqueda})
        OR LOWER(rfc) LIKE LOWER(#{busqueda})
        OR LOWER(curp) LIKE LOWER(#{busqueda})
    </select>
    <select id="obtenerClientes" resultType="empenofacil.model.Cliente">
        SELECT * FROM cliente
    </select>
    <select id="obtenerCliente" parameterType="int" resultType="empenofacil.model.Cliente">
        SELECT * FROM cliente WHERE idCliente = #{idCliente}
    </select>
    <insert id="crearCliente" parameterType="empenofacil.model.Cliente" useGeneratedKeys="true" keyProperty="idCliente">
        INSERT INTO cliente(idOcupacion,idDomicilio,nombre,apellidoPaterno,apellidoMaterno,
        telefono,celular,fechaNacimiento,curp,rfc)
        VALUES(#{idOcupacion},#{idDomicilio},#{nombre},#{apellidoPaterno},#{apellidoMaterno},
        #{telefono},#{celular},#{fechaNacimiento},#{curp},#{rfc})
    </insert>
    <update id="editarCliente" parameterType="empenofacil.model.Cliente">
        UPDATE cliente SET idOcupacion = #{idOcupacion}, idDomicilio = #{idDomicilio},
        nombre=#{nombre}, apellidoPaterno=#{apellidoPaterno}, apellidoMaterno = #{apellidoMaterno},
        telefono = #{telefono}, celular = #{celular}, fechaNacimiento=#{fechaNacimiento},
        curp = #{curp}, rfc = #{rfc} WHERE idCliente = ${idCliente}
    </update>
</mapper>