<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2018 Carlos

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN' 'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace="mybatis.idao.IDomicilioDAO">
    <select id="obtenerDomicilio" parameterType="int" resultType="empenofacil.model.Domicilio">
        SELECT * FROM domicilio WHERE idDomicilio = #{idDomicilio}
    </select>
    <insert id="crearDomicilio" parameterType="empenofacil.model.Domicilio" useGeneratedKeys="true" keyProperty="idDomicilio">
        INSERT INTO domicilio(calle,numero,colonia,codigoPostal,localidad,idMunicipio)
        VALUES(#{calle},#{numero},#{colonia},#{codigoPostal},#{localidad},#{idMunicipio})
    </insert>
    <update id="editarDomicilio" parameterType="empenofacil.model.Domicilio">
        UPDATE domicilio SET calle = #{calle}, numero = #{numero}, colonia = #{colonia}, codigoPostal = #{codigoPostal},
        localidad = #{localidad}, idMunicipio = #{idMunicipio} WHERE idDomicilio = #{idDomicilio}
    </update>
</mapper>