<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.dao.EmpleadoDAO">
    <select id="obtenerEmpleado" parameterType="map" resultType="empenofacil.model.Empleado">
        SELECT * FROM empleado WHERE usuario = #{usuario} AND contrasenia = SHA2(#{contrasenia},256)
    </select>
</mapper>