<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2018 Carlos

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN' 'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace="mybatis.idao.IEmpleadoDAO">
    <select id="buscarEmpleados" parameterType="string" resultType="empenofacil.model.Empleado">
        SELECT * FROM empleado WHERE LOWER(nombre) LIKE LOWER(#{busqueda})
        OR LOWER(apellidoPaterno) LIKE LOWER(#{busqueda})
        OR LOWER(rfc) LIKE LOWER(#{busqueda})
        OR LOWER(curp) LIKE LOWER(#{busqueda})
    </select>
    <select id="obtenerEmpleados" parameterType="map" resultType="empenofacil.model.Empleado">
        SELECT * FROM empleado
    </select>
    <select id="obtenerEmpleado" parameterType="map" resultType="empenofacil.model.Empleado">
        SELECT * FROM empleado WHERE usuario = #{usuario} AND contrasenia = SHA2(#{contrasenia},256)
    </select>
    <select id="obtenerEmpleadoPorUsuario" parameterType="string" resultType="empenofacil.model.Empleado">
        SELECT * FROM empleado WHERE usuario = #{usuario}
    </select>
    <insert id="crearEmpleado" parameterType="empenofacil.model.Empleado" useGeneratedKeys="true" keyProperty="idEmpleado">
        INSERT INTO empleado(idRol,idDomicilio,usuario,contrasenia,nombre,apellidoPaterno,
        apellidoMaterno,telefono,celular,curp,rfc,fechaNacimiento)
        VALUES(#{idRol},#{idDomicilio},#{usuario},SHA2(#{contrasenia},256),#{nombre},#{apellidoPaterno},
        IF(#{apellidoMaterno} = '', NULL, #{apellidoMaterno}),IF(#{telefono} = '', NULL, #{telefono}),
        IF(#{celular} = '', NULL, #{celular}),#{curp},#{rfc},#{fechaNacimiento})
    </insert>
    <update id="editarEmpleado" parameterType="empenofacil.model.Empleado">
        UPDATE empleado SET idRol = #{idRol}, idDomicilio = #{idDomicilio}, usuario=#{usuario},
        nombre=#{nombre}, apellidoPaterno=#{apellidoPaterno}, apellidoMaterno = IF(#{apellidoMaterno} = '', NULL, #{apellidoMaterno}),
        telefono = IF(#{telefono} = '', NULL, #{telefono}), celular = IF(#{celular} = '', NULL, #{celular}), curp = #{curp},
        rfc = #{rfc}, fechaNacimiento=#{fechaNacimiento} WHERE idEmpleado = ${idEmpleado}
    </update>
</mapper>