<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2018 lunix

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN' 'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace="mybatis.idao.IPrendaDAO">
    <select id="obtenerPrendas" resultType="empenofacil.model.Prenda">
        SELECT * FROM prenda
    </select>
    <select id="obtenerPrendasContrato" parameterType="int" resultType="empenofacil.model.Prenda">
        SELECT p.* FROM bolsa b INNER JOIN contrato c ON b.folio = c.folio INNER JOIN prenda p ON b.idPrenda = p.idPrenda WHERE c.folio = #{folio}
    </select>
    <select id="obtenerPrenda" parameterType="int" resultType="empenofacil.model.Prenda"> 
        SELECT * FROM prenda WHERE idPrenda = #{idPrenda}
    </select>
    <insert id="crearPrenda" parameterType="empenofacil.model.Prenda" useGeneratedKeys="true" keyProperty="idPrenda">
        INSERT INTO prenda(idCategoriaPrenda,idTipoPrenda,nombre,tamanio,peso,descripcion,avaluo,prestamo) 
        VALUES(#{idCategoriaPrenda},#{idTipoPrenda},#{nombre},#{tamanio},#{peso},#{descripcion},#{avaluo},#{prestamo})
    </insert>
    <update id="editarPrenda" parameterType="empenofacil.model.Prenda"> 
        UPDATE prenda SET idCategoriaPrenda = #{idCategoriaPrenda}, idTipoPrenda = #{idTipoPrenda}, 
        nombre = #{nombre}, tamanio = #{tamanio}, peso = #{peso}, descripicion = #{descripcion},
        avaluo = #{avaluo}, prestamo = #{prestamo} WHERE idPrenda = ${idPrenda}
    </update>
</mapper>